<div id="confirm-submit" class="bg-green-200 text-green-600 py-2 px-5 mx-2 z-50 rounded-full text-lg fixed top-10 items-center text-center font-medium place-content-center my-3" data-controller="turbo-modal" data-action="click->turbo-modal#hideModal">
	Merci pour votre proposition, nous l'avons bien reçue.
</div>